/*
<!-- Colour Palette -->
<!-- #e9e9e5 -->
<!-- #d4d6c8 -->
<!-- #9a9b94 -->
<!-- #52524e -->
*/
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #9a9b94;
}
hr {
  border-width: 10px;
  border-style: dotted none none none;
  height: 2px;
  width: 50px;
  border-color: #52524e;
}
h1, h3 {
  color: #e9e9e5;
}
